In [2]:
import pymysql

# Database connection
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='phyrak23',
    db='misti'
)

try:
    with connection.cursor() as cursor:
        # Replace `your_id` with the actual id
        sql = "SELECT Drawing_Water_Transmission_Network FROM raw_watersource WHERE idRawWaterSource = %s"
        cursor.execute(sql, (4,))
        result = cursor.fetchone()

        if result:
            blob_data = result[0]
            # Save BLOB to a file
            with open('output_file.png', 'wb') as file:
                file.write(blob_data)
            print("File saved successfully.")
        else:
            print("No data found.")
finally:
    connection.close()

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
pip install pymysql

## Generate Dataset

In [38]:
# pip install pandas mysql-connector-python

In [39]:
import pandas as pd
import mysql.connector as mysql

In [40]:
def insert_csv_to_db(file_mappings, db_config):
    """
    Inserts data from multiple CSV files into corresponding MySQL tables.

    Parameters:
    file_mappings (list of dict): A list of mappings where each dict contains:
        - 'csv_file': Path to the CSV file.
        - 'table_name': The name of the MySQL table.
        - 'columns': A list of column names corresponding to the CSV file and table.

    db_config (dict): Database configuration containing:
        - 'host': The database host.
        - 'user': The database username.
        - 'password': The database password.
        - 'database': The name of the database to connect to.

    Returns:
    None
    """
    # Establish MySQL connection
    conn = mysql.connect(
        host=db_config['host'],
        user=db_config['user'],
        password=db_config['password'],
        database=db_config['database']
    )
    cursor = conn.cursor()

    # Loop through each file mapping and insert data into the corresponding table
    for mapping in file_mappings:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(mapping['csv_file'])

        # Prepare the SQL insert statement dynamically based on the table and column names
        placeholders = ', '.join(['%s'] * len(mapping['columns']))  # Prepare placeholders for the SQL statement
        columns = ', '.join(mapping['columns'])  # Convert the list of columns to a comma-separated string

        for index, row in df.iterrows():
            # Prepare the values to be inserted, excluding the auto-incremented primary key
            values = [row[col] for col in mapping['columns']]

            # Construct the SQL query
            sql = f"INSERT INTO {mapping['table_name']} ({columns}) VALUES ({placeholders})"

            # Execute the insert statement
            cursor.execute(sql, values)

    # Commit the transaction
    conn.commit()

    # Close the connection
    cursor.close()
    conn.close()

    print("Data inserted successfully!")

In [41]:
# Database configuration
db_config = {
    'host': "localhost",
    'user': "root",
    'password': "phyrak23",
    'database': "misti"
}

In [42]:
file_mappings = [
    {
        'csv_file': 'C:/Users/SOPHY/Downloads/for_of_oficial_user_only.csv',
        'table_name': 'for_of_oficial_user_only',
        'columns': ['SafetyMarkNumber', 'OfficerNumber']
    }
]

In [43]:
file_mappings = [
    {
        'csv_file': 'C:/Users/SOPHY/Downloads/company_signatur_and_stamp.csv',
        'table_name': 'company_signatur_and_stamp',
        'columns': ['Name', 'Date', 'Position', 'SignatureOrFingerprint', 'Stamp']
    }
]

In [44]:
file_mappings = [

    {
        'csv_file': 'C:/Users/SOPHY/Downloads/company.csv',
        'table_name': 'company',
        'columns': ['Name', 'Email', 'Address', 'Phone', 'LocationPlan']
    }
]

In [45]:
file_mappings1 = [
    {
        'csv_file': 'C:/Users/SOPHY/Downloads/raw_watersource.csv',
        'table_name': 'raw_watersource',
        'columns': [
            'code', 
            'RawWaterSource_name', 
            'availability_year_round', 
            'total_abstraction', 
            'Drawing_RawWater_PumpingStation', 
            'Drawing_Water_Transmission_Network', 
            'Drawing_Water_Treatment_Plant'
        ]
    }
]

In [46]:
file_mappings2 = [
    {
        'csv_file': 'C:/Users/SOPHY/Downloads/human_resources.csv',
        'table_name': 'human_resources',
        'columns': [
            'code', 
            'Humanresources_name', 
            'total_staff', 
            'staff_per_1000_subscribers', 
            'training_sessions', 
            'organization_chart', 
            'idRawWaterSource'  # Foreign key, needs to match an existing record in raw_watersource
        ]
    }
]

In [54]:
file_mappings3 = [
    {
        'csv_file': 'C:/Users/SOPHY/Downloads/treatment_plant.csv',
        'table_name': 'treatment_plant',
        'columns': [
            'code', 
            'TreatmentPlant_name', 
            'treatment_losses', 
            'pac_consumption', 
            'pac_per_m3_produced', 
            'alum_consumption', 
            'alum_per_m3_produced', 
            'chlorine_consumption', 
            'chlorine_per_m3_produced', 
            'electricity_consumption', 
            'electricity_per_m3_produced', 
            'lime_consumption', 
            'lime_per_m3_produced', 
            'fuel_consumption', 
            'fuel_per_m3_produced', 
            'production_capacity', 
            'idRawWaterSource'  # Foreign key, ensure it matches an existing record in raw_watersource
        ]
    }
]

In [48]:
file_mappings4 = [
    {
        'csv_file': 'C:/Users/SOPHY/Downloads/water_quality.csv',
        'table_name': 'water_quality',
        'columns': [
            'code', 
            'WaterQuality_name', 
            'color', 
            'turbidity', 
            'ph_level', 
            'arsenic_level', 
            'total_dissolved_solids', 
            'manganese_level', 
            'zinc_level', 
            'sulfate_level', 
            'copper_level', 
            'hydrogen_sulfide', 
            'hardness', 
            'aluminum_level', 
            'chloride_level', 
            'iron_level', 
            'ammonia_level', 
            'barium_level', 
            'cadmium_level', 
            'chromium_level', 
            'fluoride_level', 
            'lead_level', 
            'mercury_level', 
            'nitrate_level', 
            'nitrite_level', 
            'sodium_level', 
            'residual_chlorine', 
            'idTreatmentPlant'  # Foreign key, ensure it matches an existing record in treatment_plant
        ]
    }
]

In [49]:
file_mappings5 = [
    {
        'csv_file': 'C:/Users/SOPHY/Downloads/commercial.csv',
        'table_name': 'commercial',
        'columns': [
            'code', 
            'Commercial_name', 
            'population_served', 
            'service_coverage_license_area', 
            'service_coverage_network_area', 
            'Water_Production', 
            'water_sold', 
            'water_supplied_without_charge', 
            'total_water_consumption', 
            'water_losses', 
            'non_revenue_water', 
            'average_daily_consumption', 
            'average_consumption_per_connection', 
            'average_consumption_per_capita', 
            'total_water_connections', 
            'residential_connections', 
            'commercial_connections', 
            'public_entity_connections', 
            'factory_connections', 
            'sme_connections', 
            'poor_connections', 
            'poor_household_ratio', 
            'customer_complaints', 
            'complaints_per_1000_connections', 
            'license_area_profile', 
            'network_area_population', 
            'network_area_houses', 
            'licensed_area_population', 
            'licensed_area_houses', 
            'idTreatmentPlant'  # Foreign key, ensure it matches an existing record in treatment_plant
        ]
    }
]

In [66]:
file_mappings6 = [
    {
        'csv_file': 'C:/Users/SOPHY/Downloads/financial.csv',
        'table_name': 'financial',
        'columns': [
            'code', 
            'Financial_name', 
            'cash_from_water_sales', 
            'other_cash', 
            'amount_billed_for_water_sales', 
            'amount_billed_for_other_services', 
            'accounts_receivable', 
            'average_tariff', 
            'bill_collection_ratio', 
            'total_operating_expenses', 
            'operating_ratio', 
            'production_expenses', 
            'unit_production_cost', 
            'net_income', 
            'net_profit_margin', 
            'investment_expenditures', 
            'loans', 
            'accounts_payable', 
            'total_assets', 
            'owner_equity', 
            'debt_to_equity_ratio', 
            'return_on_assets', 
            'return_on_equity', 
            'interest_expense', 
            'depreciation_expense', 
            'other_expense', 
            'residential_tariff', 
            'commercial_tariff', 
            'government_tariff', 
            'idCommercial'  # Foreign key, ensure it matches an existing record in commercial
        ]
    }
]

In [69]:
file_mappings7 = [
    {
        'csv_file': 'C:/Users/SOPHY/Downloads/distribution_network.csv',
        'table_name': 'distribution_network',
        'columns': [
            'code', 
            'DistributionNetwork_name', 
            'Supply_Pressure_end_connection', 
            'Number_leak_repaired', 
            'total_length', 
            'transmission_length', 
            'distribution_length', 
            'Storagecapacity', 
            'Supply_duration', 
            'idCommercial'  # Foreign key, ensure it matches an existing record in commercial
        ]
    }
]

In [70]:
# Call the function
insert_csv_to_db(file_mappings7, db_config)

Data inserted successfully!

In [3]:
# pip install streamlit

# For Data Visualize

In [10]:
from config import get_connection
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# Fetch data from a specified table
def fetch_data(table_name):
    conn = get_connection()
    query = f"SELECT * FROM {table_name};"
    df = pd.read_sql(query, conn)
    conn.close()
    return df

In [20]:
data1 = fetch_data("raw_watersource")

C:\Users\SOPHY\AppData\Local\Temp\ipykernel_700\1989723835.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [21]:

# Group by availability year-round and sum total abstraction for each group
grouped = data1.groupby('availability_year_round').agg(
    total_abstraction_sum=('total_abstraction', 'sum'),
    water_sources=('RawWaterSource_name', lambda x: ', '.join(x))
).reset_index()
grouped

,availability_year_round,total_abstraction_sum,water_sources
0,0,22643.175,"Prek Thnot River, Stung Treng River, Stung Chi..."
1,1,38776.543,"Mekong River, Tonle Sap Lake, Bassac River, St..."

In [27]:
# Mapping availability
grouped['availability'] = grouped['availability_year_round'].map({1: 'Available Year Round', 0: 'Not Available Year Round'})

# Display the analysis
grouped[['availability', 'total_abstraction_sum', 'water_sources']]

,availability,total_abstraction_sum,water_sources
0,Not Available Year Round,22643.175,"Prek Thnot River, Stung Treng River, Stung Chi..."
1,Available Year Round,38776.543,"Mekong River, Tonle Sap Lake, Bassac River, St..."

In [28]:
# Pie chart visualization
labels = grouped['availability']
sizes = grouped['total_abstraction_sum']

plt.figure(figsize=(6, 6))
plt.pie(sizes, labels=labels, autopct='%1.1f%%', startangle=90, colors=['#ff9999','#66b3ff'])
plt.title('Total Abstraction: Year-Round vs Seasonal Water Sources')
plt.show()

C:\Users\SOPHY\AppData\Local\Temp\ipykernel_700\4173974664.py:8: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()